.market {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.market .div {
  background-color: var(--alt-bg);
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 373px;
}

.market .overlap {
  height: 577px;
  left: 0;
  position: absolute;
  top: 235px;
  width: 375px;
}

.market .frame {
  height: 552px;
  left: 32px;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 328px;
}

.market .overlap-group {
  height: 78px;
  left: -15px;
  position: absolute;
  top: 480px;
  width: 351px;
}

.market .group {
  height: 72px;
  left: 0;
  position: absolute;
  top: 0;
  width: 351px;
}

.market .overlap-group-2 {
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: var(--small);
  height: 72px;
  position: relative;
  width: 343px;
}

.market .text-wrapper {
  color: var(--text-1);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.market .text-wrapper-2 {
  color: var(--text-2);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 21px;
  right: 30;
  left: auto;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.market .text-wrapper-3 {
  color: var(--text-3);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
}

.market .text-wrapper-4 {
  color: var(--green);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 288px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 40px;
}

.market .img {
  height: 40px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 40px;
}

.market .vector {
  height: 25px;
  left: 196px;
  position: absolute;
  top: 24px;
  width: 50px;
}

.market .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 63px;
}

.market .overlap-wrapper {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 240px;
  width: 351px;
}

.market .text-wrapper-6 {
  color: var(--text-2);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 21px;
  left: 268px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.market .text-wrapper-7 {
  color: var(--green);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 287px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 40px;
}

.market .overlap-group-wrapper {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 0;
  width: 347px;
}

.market .text-wrapper-8 {
  color: var(--text-2);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 21px;
  left: 255px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.market .group-2 {
  height: 39px;
  left: 83px;
  position: absolute;
  top: 18px;
  width: 57px;
}

.market .text-wrapper-9 {
  color: var(--text-1);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.market .text-wrapper-10 {
  color: var(--text-3);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 23px;
}

.market .group-wrapper {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 80px;
  width: 343px;
}

.market .div-wrapper {
  height: 72px;
  width: 351px;
}

.market .text-wrapper-11 {
  color: #21bf73;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 282px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 40px;
}

.market .vector-2 {
  height: 25px;
  left: 196px;
  position: absolute;
  top: 22px;
  width: 50px;
}

.market .group-3 {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 320px;
  width: 351px;
}

.market .text-wrapper-12 {
  color: var(--text-2);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 21px;
  left: 297px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 16px;
}

.market .text-wrapper-13 {
  color: var(--red);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 40px;
}

.market .group-4 {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 160px;
  width: 343px;
}

.market .text-wrapper-14 {
  color: #21bf73;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 267px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 40px;
}

.market .group-5 {
  height: 72px;
  left: -15px;
  position: absolute;
  top: 400px;
  width: 349px;
}

.market .text-wrapper-15 {
  color: var(--green);
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  left: 289px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 40px;
}

.market .menu {
  background-color: #ffffff;
  box-shadow: 8px 0px 16px #00000026;
  height: 88px;
  left: 0;
  position: absolute;
  top: 489px;
  width: 375px;
}

.market .group-6 {
  height: 35px;
  left: 41px;
  position: absolute;
  top: 20px;
  width: 30px;
}

.market .vector-3 {
  height: 20px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 22px;
}

.market .text-wrapper-16 {
  color: #6c757d;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 28px;
}

.market .group-7 {
  height: 35px;
  left: 101px;
  position: absolute;
  top: 20px;
  width: 41px;
}

.market .vector-4 {
  height: 20px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 20px;
}

.market .text-wrapper-17 {
  color: #6c757d;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 39px;
}

.market .group-8 {
  height: 13px;
  left: 172px;
  position: absolute;
  top: 42px;
  width: 41px;
}

.market .text-wrapper-18 {
  color: #6c757d;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 39px;
}

.market .group-9 {
  height: 35px;
  left: 243px;
  position: absolute;
  top: 20px;
  width: 35px;
}

.market .vector-5 {
  height: 20px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 22px;
}

.market .text-wrapper-19 {
  color: #0063f5;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 33px;
}

.market .group-10 {
  height: 35px;
  left: 308px;
  position: absolute;
  top: 20px;
  width: 32px;
}

.market .vector-6 {
  height: 20px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 19px;
}

.market .text-wrapper-20 {
  color: #6c757d;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 30px;
}

.market .trade-icon {
  height: 26px;
  left: 169px;
  position: absolute;
  top: 507px;
  width: 31px;
}

.market .swipe-handle-instance {
  left: 120px !important;
  position: absolute !important;
  top: 564px !important;
}

.market .overlap-2 {
  height: 45px;
  left: 32px;
  position: absolute;
  top: 67px;
  width: 319px;
}

.market .group-11 {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 315px;
}

.market .text-wrapper-21 {
  color: #6c757d;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 156px;
}

.market .market-is-profitable {
  color: transparent;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 19px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 311px;
}

.market .span {
  color: #212529;
}

.market .text-wrapper-22 {
  color: #d90429;
}

.market .text-wrapper-23 {
  color: #21bf73;
}

.market .vector-7 {
  height: 20px;
  left: 300px;
  position: absolute;
  top: 5px;
  width: 19px;
}

.market .text-wrapper-24 {
  color: #000000;
  font-family: "IBM Plex Sans", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  width: 46px;
}

.market .vector-wrapper {
  background-color: #f8f9fa;
  border: 0.5px solid;
  border-color: #dfe2e4;
  border-radius: 12px;
  height: 24px;
  left: 265px;
  position: absolute;
  top: 142px;
  width: 94px;
}

.market .vector-8 {
  height: 4px;
  left: 77px;
  position: absolute;
  top: 10px;
  width: 7px;
}
